APP_KEY=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_SECRET=
GOOGLE_OAUTH_CALLBACK_URL=http://localhost:3000/auth/callback/google

STORAGE_BUCKET_NAME=
DB_DSN=username:password@host/dbName
OPENAI_SECRET_KEY=
